*{
    padding:0;
    margin: 0;
    text-decoration: none;
}
input{
    outline: none;
}
.container{
    width: 500px;
    height: 570px;
    margin: 0 auto;
    border: 1px solid #b2bec3;
    border-radius: 10px;
}.container .top{
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    font-size: 35px;
    font-family: sans-serif;
    color: #57606f;
    text-align:center;
 
}
.container .user_name{
    height: 40px;
    line-height: 40px;
    padding-left: 10%;

}

.container .user_input input{
    border: 0;
    margin:1px 0 1px 0;
    height: 40px;
    width: 250px;
    margin-left: 125px;
    /* margin-top: 2.5px; */
    border-radius: 5px;
    opacity: .8;
    
}
.container .password{
    height: 40px;
    line-height: 40px;
    padding-left: 10%;
}
.container .phone{
    height: 40px;
    line-height: 40px;
    padding-left: 10%;

}
.container .user_sex{
    height: 40px;
    line-height: 40px;
    padding-left: 10%;
}
.container .select_sex{
    border: 0;
    margin:1px 0 1px 0;
    height: 40px;
    line-height: 40px;
    width: 250px;
    margin-left: 125px;
    font-size: 1.2em;
}
.container .select_sex .btn_sty{
    font-size: 12px;
}
.container .sub{
    margin-top: 20px;
}
.container .sub input{
    border:0;
    margin-left: 100px;
    width: 300px;
    height: 40px;
    border-radius: 40px;
    box-shadow:0px 3px 3px #c8c8c8 ;
    background:-webkit-linear-gradient(left,#00dbde, #fc00ff);
    font-size: 22px;
    
}
.sub input:hover{
    cursor: pointer;
    background:-webkit-linear-gradient(right,#00dbde, #fc00ff);
}